// Page
$background: #2a215a;
$accent: #fefefe;

// inputs
$inputBackground: #140d36;
$placeholder: #544799;

// Header
$headerBackground: #1d1449;

// Buttons
$buttonBackground: #2c206a;
$buttonGradient: #392b80;
$buttonAccentColor: #fefefe;

// Item
$itemBackground: #140d36;
$itemName: #fefefe;
$itemPrice: #ffd700;

// Rarity
$veryCommon: #9d9d9d;
$common: #ffffff;
$uncommon: #1eff00;
$Rare: #0070dd;
$veryRare: #a335ee;
$special: #ff8000;
$epic: #e6cc80;
$legendary: #00ccff;

html,
body {
    height: 100vh;
    margin: 0;
    background-color: $background;
    color: $accent;
}

a {
    color: $accent;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

* {
    font-family: 'Mulish', sans-serif;
    transition: all 0.25s;
}


button {
    background: transparent;
    border: 1px solid $buttonGradient;

    color: $buttonAccentColor;

    padding: 1em;
    cursor: pointer;
    border-radius: 5px;

    width: 8em;

    &:hover {
        box-shadow: 0px 0px 20px 0px $buttonBackground;
        font-weight: 900;
        border: 0;
        background: radial-gradient(ellipse at top, #bd2efc, transparent),
            radial-gradient(ellipse at bottom, #bd2efc, transparent),
            radial-gradient(ellipse at left, #5115ff, transparent),
            radial-gradient(ellipse at right, #5115ff, transparent);
    }
}

.centerForm {
    width: 100vw;
    height: 40vh;
    display: grid;
    align-items: center;
    justify-items: center;

    form {
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        gap: 1em;

        input {
            text-align: center;
            background-color: $inputBackground;
            font-weight: 700;

            &[type="submit"] {
                background-color: $buttonBackground;
                background: -webkit-linear-gradient(to right, $buttonGradient, $buttonBackground);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, $buttonGradient, $buttonBackground);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                box-shadow: 0px 0px 10px 0px $buttonBackground;
                border: 0;
                cursor: pointer;
                border-radius: 5px;
            }

            &::placeholder {
                color: $placeholder;
            }

            &[type="submit"]:hover,
            &[type="submit"]:focus-visible {
                box-shadow: 0px 0px 20px 0px $buttonBackground;
                font-weight: 900;
            }
        }

        width: 30vw;
    }
}

input,
select {
    background-color: $background;
    color: $accent;
    border: 0;
    font-size: 1em;
    height: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    &[type="submit"] {
        background-color: $buttonBackground;
        background: -webkit-linear-gradient(to right, $buttonGradient, $buttonBackground);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, $buttonGradient, $buttonBackground);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        box-shadow: 0px 0px 10px 0px $buttonBackground;
        border: 0;
        cursor: pointer;
        border-radius: 5px;
    }

    &[type="submit"]:hover,
    &[type="submit"]:focus-visible {
        box-shadow: 0px 0px 20px 0px $buttonBackground;
        font-weight: 900;
    }
}

#search {
    background-color: $background;
    border-radius: 5px;
    padding: .5em;
    width: 6em;

    &:active,
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        width: 24em;
    }
}


header {
    display: flex;
    gap: 4em;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1em;
    background-color: $headerBackground;

    img {
        width: 12em;
        height: auto;
    }

    #logBtn {
        position: absolute;
        right: 2em;
        display: flex;
        gap: 4em;
        align-items: center;

        #playerName {
            font-weight: 900;
            text-transform: capitalize;
        }

        #playerCurrency {
            color: $itemPrice;
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    .logoTitle {
        font-size: 2em;
        font-weight: 900;
    }
}

.sideBar {
    left: 2em;
    right: calc(80vw - 2em);
    height: 75vh;
    position: fixed;
    gap: 2em;
    margin-top: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: $headerBackground;
    border-radius: 16px;

    form {
        width: 100%;
        height: 100%;
        display: grid;
        gap: 2em;
        justify-items: center;
        align-items: baseline;
        grid-auto-rows: minmax(min-content, max-content);

        h2 {
            margin: 0;
        }

        .minMaxPrice {
            input {
                width: 7em;
            }
        }

        .resultAmount {
            select {
                width: 12em;
            }
        }

        .resultAmount,
        .minMaxPrice {
            text-align: center;
            display: grid;
            justify-items: center;
            align-items: baseline;
            gap: 1em;
        }

        button {
            position: absolute;
            bottom: 1em;
            width: 6vw;
        }
    }
}

#itemBrowser {
    margin-left: calc(20vw + 2em);
    margin-right: 2em;
    padding-top: 2em;
    display: grid;
    gap: 2em;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));

    button {
        &:hover {
            width: 60%;
        }
    }

    article {
        background: $itemBackground;
        border-radius: 16px;
        display: grid;
        gap: 1em;
        justify-items: center;
        align-items: baseline;
        width: fit-content;
        height: fit-content;
        padding: 2em 0;
        width: 16em;
        z-index: 1;

        &:hover {
            cursor: pointer;
        }

        .dot {
            background-color: #2c206a;
            opacity: .25;
            width: 8em;
            height: 8em;
            border-radius: 50%;
            display: inline-block;
            z-index: 2;
            position: absolute;
            margin-top: 2em;

            &:nth-of-type(2) {
                transform: scale(1.5);
            }
        }

        img {
            width: 8em;
            height: 8em;
            margin: 2em 0;
            object-fit: contain;
            z-index: 3;
        }

        h1 {
            font-size: 1.5em;
            color: $itemName;
            margin: 0;
        }

        h2 {
            font-size: 1em;
            margin: 0;

            &[rarity="1"] {
                &::before {
                    content: "Very Common";
                }

                color: $veryCommon;
            }

            &[rarity="2"] {
                &::before {
                    content: "Common";
                }

                color: $common;
            }

            &[rarity="3"] {
                &::before {
                    content: "Uncommon";
                }

                color: $uncommon;
            }

            &[rarity="4"] {
                &::before {
                    content: "Rare";
                }

                color: $Rare;
            }

            &[rarity="5"] {
                &::before {
                    content: "Very Rare";
                }

                color: $veryRare;
            }

            &[rarity="6"] {
                &::before {
                    content: "Special";
                }

                color: $special;
            }

            &[rarity="7"] {
                &::before {
                    content: "Epic";
                }

                color: $epic;
            }

            &[rarity="8"] {
                &::before {
                    content: "Legendary";
                }

                color: $legendary;
            }
        }

        h3 {
            font-size: 1em;

            color: $itemPrice;
            margin: 0;
            color: $itemPrice;
            display: flex;
            align-items: center;
            gap: 4px;
        }

        button {
            height: 48px;
        }
    }
}

.hidden {
    display: none !important;
}

.invis {
    opacity: 0 !important;
}

#goTop {
    position: fixed;
    right: 2em;
    bottom: 2em;

    width: 2em;
    height: 2em;

    font-weight: 900;
    font-size: 1.5em;

    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0;

    z-index: 999;
    border: 1px solid $accent;

    &:hover {
        background: $buttonBackground;
        border: 2px solid $accent;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em 0;
    position: absolute;
    left: 2em;
    right: calc(80vw - 2em);

    p {
        span {
            font-weight: 400;

            &:hover {
                cursor: pointer;
            }
        }
    }

    button {
        width: 6em;
        height: 3em;
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 0;

        p {
            font-size: 1.5em;
            margin: 0;
            font-weight: 800;
        }
    }

    .current {
        font-weight: 900;
        color: lightgray;
        text-shadow: 0px 0px 15px lightgray;
    }

    button:disabled {
        background: #0f0c29;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: gray;
        box-shadow: none;
    }
}

.myAccount {
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    margin-top: 6em;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: $headerBackground;

    h1 {
        margin: 0;

        span {
            text-transform: capitalize;
        }
    }
}

.alert {
    position: fixed;
    left: 15vw;
    right: 15vw;
    height: 2vh;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 10000;

    background-color: $buttonBackground;
    background: -webkit-linear-gradient(to right, $buttonGradient, $buttonBackground);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $buttonGradient, $buttonBackground);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 0px 10px 0px $buttonBackground;

    color: $buttonAccentColor;

    padding: 6px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;

    p {
        margin: 0;
    }

    &:hover {
        font-style: italic;
        font-size: 1.1em;
    }
}

.material-icons {
    font-size: inherit;
}