html,
body {
  height: 100vh;
  margin: 0;
  background-color: #1b1c21;
  color: #fefefe;
}

button {
  background-color: #7F00FF;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 10px 0px #7F00FF;
  color: #fefefe;
  padding: 1em;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  width: 8em;
}

button:hover {
  box-shadow: 0px 0px 20px 0px #7F00FF;
  font-weight: 900;
}

.centerForm {
  width: 100vw;
  height: 40vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.centerForm form {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 1em;
  width: 30vw;
}

.centerForm form input {
  text-align: center;
  background-color: #25262b;
}

.centerForm form input[type="submit"] {
  background-color: #7F00FF;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 10px 0px #7F00FF;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.centerForm form input[type="submit"]:hover, .centerForm form input[type="submit"]:focus-visible {
  box-shadow: 0px 0px 20px 0px #7F00FF;
  font-weight: 900;
}

input,
select {
  background-color: #1b1c21;
  color: #fefefe;
  border: 0;
  font-size: 1em;
  height: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

input[type="submit"],
select[type="submit"] {
  background-color: #7F00FF;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 10px 0px #7F00FF;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover, input[type="submit"]:focus-visible,
select[type="submit"]:hover,
select[type="submit"]:focus-visible {
  box-shadow: 0px 0px 20px 0px #7F00FF;
  font-weight: 900;
}

#search {
  background-color: #1b1c21;
  border-radius: 5px;
  padding: .5em;
}

a {
  color: #fefefe;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  font-family: 'Mulish', sans-serif;
  transition: all 0.3s;
}

header {
  display: flex;
  gap: 4em;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1em;
  background-color: #25262b;
}

header img {
  width: 12em;
  height: auto;
}

header #logBtn {
  position: absolute;
  right: 2em;
  display: flex;
  gap: 4em;
  align-items: center;
}

header #logBtn #playerName {
  font-weight: 900;
  text-transform: capitalize;
}

header #logBtn #playerCurrency {
  color: #ffd700;
}

header #logBtn #playerCurrency::before {
  content: "$ ";
}

header .logoTitle {
  font-size: 2em;
  font-weight: 900;
}

.sideBar {
  left: 2em;
  right: calc(80vw - 2em);
  height: 80vh;
  position: fixed;
  gap: 2em;
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #25262b;
}

.sideBar form {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 2em;
  justify-items: center;
  align-items: baseline;
  grid-auto-rows: minmax(min-content, max-content);
}

.sideBar form h2 {
  margin: 0;
}

.sideBar form .minMaxPrice input {
  width: 7em;
}

.sideBar form .resultAmount select {
  width: 12em;
}

.sideBar form .resultAmount,
.sideBar form .minMaxPrice {
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: baseline;
  gap: 1em;
}

.sideBar form button {
  position: absolute;
  bottom: 1em;
  width: 6vw;
}

#itemBrowser {
  margin-left: calc(20vw + 2em);
  margin-right: 2em;
  padding-top: 2em;
  display: grid;
  gap: 2em;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

#itemBrowser button:hover {
  width: 60%;
}

#itemBrowser article {
  background-color: #25262b;
  display: grid;
  gap: 1em;
  justify-items: center;
  align-items: baseline;
  width: fit-content;
  height: fit-content;
  padding-bottom: 2em;
  width: 16em;
}

#itemBrowser article:hover {
  cursor: pointer;
}

#itemBrowser article img {
  width: 8em;
  height: 8em;
  padding-top: 2em;
  object-fit: contain;
}

#itemBrowser article h1 {
  font-size: 1.5em;
  color: #fefefe;
  margin: 0;
}

#itemBrowser article h2 {
  font-size: 1em;
  margin: 0;
}

#itemBrowser article h2[rarity="1"] {
  color: #9d9d9d;
}

#itemBrowser article h2[rarity="1"]::before {
  content: "Very Common";
}

#itemBrowser article h2[rarity="2"] {
  color: #ffffff;
}

#itemBrowser article h2[rarity="2"]::before {
  content: "Common";
}

#itemBrowser article h2[rarity="3"] {
  color: #1eff00;
}

#itemBrowser article h2[rarity="3"]::before {
  content: "Uncommon";
}

#itemBrowser article h2[rarity="4"] {
  color: #0070dd;
}

#itemBrowser article h2[rarity="4"]::before {
  content: "Rare";
}

#itemBrowser article h2[rarity="5"] {
  color: #a335ee;
}

#itemBrowser article h2[rarity="5"]::before {
  content: "Very Rare";
}

#itemBrowser article h2[rarity="6"] {
  color: #ff8000;
}

#itemBrowser article h2[rarity="6"]::before {
  content: "Special";
}

#itemBrowser article h2[rarity="7"] {
  color: #e6cc80;
}

#itemBrowser article h2[rarity="7"]::before {
  content: "Epic";
}

#itemBrowser article h2[rarity="8"] {
  color: #00ccff;
}

#itemBrowser article h2[rarity="8"]::before {
  content: "Legendary";
}

#itemBrowser article h3 {
  font-size: 1em;
  color: #ffd700;
  margin: 0;
}

#itemBrowser article h3::before {
  content: "$ ";
}

.hidden {
  display: none !important;
}

.invis {
  opacity: 0 !important;
}

#goTop {
  position: fixed;
  left: calc(20vw - 2em);
  bottom: 2em;
  width: 2em;
  height: 2em;
  font-weight: 900;
  font-size: 1.5em;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0;
}

#goTop p {
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
  position: absolute;
  left: 2em;
  right: calc(80vw - 2em);
}

.pagination p span {
  font-weight: 400;
}

.pagination p span:hover {
  cursor: pointer;
}

.pagination button {
  width: 6em;
  height: 3em;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0;
}

.pagination button p {
  font-size: 1.5em;
  margin: 0;
  font-weight: 800;
}

.pagination .current {
  font-weight: 900;
  color: lightgray;
  text-shadow: 0px 0px 15px lightgray;
}

.pagination button:disabled {
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: gray;
  box-shadow: none;
}
/*# sourceMappingURL=style.css.map */