// Page
$background: #1b1c21;
$accent: #fefefe;

// Header
$headerBackground: #25262b;

// Buttons
$buttonBackground: #7F00FF;
$buttonAccentColor: #fefefe;

// Item
$itemName: #fefefe;
$itemPrice: #ffd700;

// Rarity
$veryCommon: #9d9d9d;
$common: #ffffff;
$uncommon: #1eff00;
$Rare: #0070dd;
$veryRare: #a335ee;
$special: #ff8000;
$epic: #e6cc80;
$legendary: #00ccff;

html,
body {
    height: 100vh;
    margin: 0;
    background-color: $background;
    color: $accent;
}

a {
    color: $accent;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

* {
    font-family: 'Mulish', sans-serif;
    transition: all 0.25s;
}

button {
    background-color: $buttonBackground;
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 0px 10px 0px $buttonBackground;

    color: $buttonAccentColor;

    padding: 1em;
    border: 0;
    cursor: pointer;
    border-radius: 5px;

    width: 8em;

    &:hover {
        box-shadow: 0px 0px 20px 0px $buttonBackground;
        font-weight: 900;
    }
}

.centerForm {
    width: 100vw;
    height: 40vh;
    display: grid;
    align-items: center;
    justify-items: center;

    form {
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        gap: 1em;

        input {
            text-align: center;
            background-color: $headerBackground;

            &[type="submit"] {
                background-color: $buttonBackground;
                background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #E100FF, #7F00FF);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                box-shadow: 0px 0px 10px 0px $buttonBackground;
                border: 0;
                cursor: pointer;
                border-radius: 5px;
            }

            &[type="submit"]:hover,
            &[type="submit"]:focus-visible {
                box-shadow: 0px 0px 20px 0px $buttonBackground;
                font-weight: 900;
            }
        }

        width: 30vw;
    }
}

input,
select {
    background-color: $background;
    color: $accent;
    border: 0;
    font-size: 1em;
    height: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    &[type="submit"] {
        background-color: $buttonBackground;
        background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #E100FF, #7F00FF);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        box-shadow: 0px 0px 10px 0px $buttonBackground;
        border: 0;
        cursor: pointer;
        border-radius: 5px;
    }

    &[type="submit"]:hover,
    &[type="submit"]:focus-visible {
        box-shadow: 0px 0px 20px 0px $buttonBackground;
        font-weight: 900;
    }
}

#search {
    background-color: $background;
    border-radius: 5px;
    padding: .5em;
    width: 6em;

    &:active,
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        width: 24em;
    }
}


header {
    display: flex;
    gap: 4em;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1em;
    background-color: $headerBackground;

    img {
        width: 12em;
        height: auto;
    }

    #logBtn {
        position: absolute;
        right: 2em;
        display: flex;
        gap: 4em;
        align-items: center;

        #playerName {
            font-weight: 900;
            text-transform: capitalize;
        }

        #playerCurrency {
            color: $itemPrice;

            &::before {
                content: "$ ";
            }
        }
    }

    .logoTitle {
        font-size: 2em;
        font-weight: 900;
    }
}

.sideBar {
    left: 2em;
    right: calc(80vw - 2em);
    height: 75vh;
    position: fixed;
    gap: 2em;
    margin-top: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: $headerBackground;

    form {
        width: 100%;
        height: 100%;
        display: grid;
        gap: 2em;
        justify-items: center;
        align-items: baseline;
        grid-auto-rows: minmax(min-content, max-content);

        h2 {
            margin: 0;
        }

        .minMaxPrice {
            input {
                width: 7em;
            }
        }

        .resultAmount {
            select {
                width: 12em;
            }
        }

        .resultAmount,
        .minMaxPrice {
            text-align: center;
            display: grid;
            justify-items: center;
            align-items: baseline;
            gap: 1em;
        }

        button {
            position: absolute;
            bottom: 1em;
            width: 6vw;
        }
    }
}

#itemBrowser {
    margin-left: calc(20vw + 2em);
    margin-right: 2em;
    padding-top: 2em;
    display: grid;
    gap: 2em;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));

    button {
        &:hover {
            width: 60%;
        }
    }

    article {
        background-color: $headerBackground;
        display: grid;
        gap: 1em;
        justify-items: center;
        align-items: baseline;
        width: fit-content;
        height: fit-content;
        padding-bottom: 2em;
        width: 16em;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 8em;
            height: 8em;
            padding-top: 2em;
            object-fit: contain;
        }

        h1 {
            font-size: 1.5em;
            color: $itemName;
            margin: 0;
        }

        h2 {
            font-size: 1em;
            margin: 0;

            &[rarity="1"] {
                &::before {
                    content: "Very Common";
                }

                color: $veryCommon;
            }

            &[rarity="2"] {
                &::before {
                    content: "Common";
                }

                color: $common;
            }

            &[rarity="3"] {
                &::before {
                    content: "Uncommon";
                }

                color: $uncommon;
            }

            &[rarity="4"] {
                &::before {
                    content: "Rare";
                }

                color: $Rare;
            }

            &[rarity="5"] {
                &::before {
                    content: "Very Rare";
                }

                color: $veryRare;
            }

            &[rarity="6"] {
                &::before {
                    content: "Special";
                }

                color: $special;
            }

            &[rarity="7"] {
                &::before {
                    content: "Epic";
                }

                color: $epic;
            }

            &[rarity="8"] {
                &::before {
                    content: "Legendary";
                }

                color: $legendary;
            }
        }

        h3 {
            font-size: 1em;
            color: $itemPrice;
            margin: 0;

            &::before {
                content: "$ ";
            }
        }
    }
}

.hidden {
    display: none !important;
}

.invis {
    opacity: 0 !important;
}

#goTop {
    position: fixed;
    left: calc(20vw - 2em);
    bottom: 2em;

    width: 2em;
    height: 2em;

    font-weight: 900;
    font-size: 1.5em;

    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0;

    p {
        margin: 0;
        padding: 0;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em 0;
    position: absolute;
    left: 2em;
    right: calc(80vw - 2em);

    p {
        span {
            font-weight: 400;

            &:hover {
                cursor: pointer;
            }
        }
    }

    button {
        width: 6em;
        height: 3em;
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 0;

        p {
            font-size: 1.5em;
            margin: 0;
            font-weight: 800;
        }
    }

    .current {
        font-weight: 900;
        color: lightgray;
        text-shadow: 0px 0px 15px lightgray;
    }

    button:disabled {
        background: #0f0c29;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: gray;
        box-shadow: none;
    }
}

.myAccount {
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    margin-top: 6em;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: $headerBackground;

    h1 {
        margin: 0;

        span {
            text-transform: capitalize;
        }
    }
}

.alert {
    position: absolute;
    left: 35vw;
    right: 35vw;
    top: 5em;
    height: 2em;
    background-color: rgba($color:red, $alpha: .25);
    display: grid;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }
}