html,
body {
  height: 100vh;
  margin: 0;
  background-color: #2a215a;
  color: #fefefe;
}

a {
  color: #fefefe;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  font-family: 'Mulish', sans-serif;
  transition: all 0.25s;
}

button {
  background: transparent;
  border: 1px solid #392b80;
  color: #fefefe;
  padding: 1em;
  cursor: pointer;
  border-radius: 5px;
  width: 8em;
}

button:hover {
  box-shadow: 0px 0px 20px 0px #2c206a;
  font-weight: 900;
  border: 0;
  background: radial-gradient(ellipse at top, #bd2efc, transparent), radial-gradient(ellipse at bottom, #bd2efc, transparent), radial-gradient(ellipse at left, #5115ff, transparent), radial-gradient(ellipse at right, #5115ff, transparent);
}

.centerForm {
  width: 100vw;
  height: 40vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.centerForm form {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 1em;
  width: 30vw;
}

.centerForm form input {
  text-align: center;
  background-color: #140d36;
  font-weight: 700;
  border-radius: 6px;
}

.centerForm form input[type="submit"] {
  background-color: #2c206a;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #392b80, #2c206a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 10px 0px #2c206a;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.centerForm form input::placeholder {
  color: #544799;
}

.centerForm form input[type="submit"]:hover, .centerForm form input[type="submit"]:focus-visible {
  box-shadow: 0px 0px 20px 0px #2c206a;
  font-weight: 900;
}

input,
select {
  background-color: #2a215a;
  color: #fefefe;
  border: 0;
  font-size: 1em;
  height: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

input[type="submit"],
select[type="submit"] {
  background-color: #2c206a;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #392b80, #2c206a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 10px 0px #2c206a;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover, input[type="submit"]:focus-visible,
select[type="submit"]:hover,
select[type="submit"]:focus-visible {
  box-shadow: 0px 0px 20px 0px #2c206a;
  font-weight: 900;
}

#search {
  background-color: #2a215a;
  border-radius: 5px;
  padding: .5em;
  width: 6em;
}

#search:active, #search:hover, #search:focus, #search:focus-visible, #search:focus-within {
  width: 24em;
}

header {
  display: flex;
  gap: 4em;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1em;
  background-color: #1d1449;
}

header img {
  width: 12em;
  height: auto;
}

header #logBtn {
  position: absolute;
  right: 2em;
  display: flex;
  gap: 4em;
  align-items: center;
}

header #logBtn #playerName {
  font-weight: 900;
  text-transform: capitalize;
}

header #logBtn #playerCurrency {
  color: #ffd700;
  display: flex;
  align-items: center;
  gap: 4px;
}

header .logoTitle {
  font-size: 2em;
  font-weight: 900;
}

.sideBar {
  left: 2em;
  right: calc(80vw - 2em);
  height: 75vh;
  position: fixed;
  gap: 2em;
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #1d1449;
  border-radius: 16px;
}

.sideBar form {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 2em;
  justify-items: center;
  align-items: baseline;
  grid-auto-rows: minmax(min-content, max-content);
}

.sideBar form h2 {
  margin: 0;
}

.sideBar form .minMaxPrice input {
  width: 7em;
}

.sideBar form .resultAmount select {
  width: 12em;
}

.sideBar form .resultAmount,
.sideBar form .minMaxPrice {
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: baseline;
  gap: 1em;
}

.sideBar form button {
  position: absolute;
  bottom: 1em;
  width: 6vw;
}

#itemBrowser {
  margin-left: calc(20vw + 2em);
  margin-right: 2em;
  padding-top: 2em;
  display: grid;
  gap: 2em;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

#itemBrowser button:hover {
  width: 60%;
}

#itemBrowser article {
  background: #140d36;
  border-radius: 16px;
  display: grid;
  gap: 1em;
  justify-items: center;
  align-items: baseline;
  width: fit-content;
  height: fit-content;
  width: 16em;
  z-index: 1;
}

#itemBrowser article:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px;
  transform: scale(1.05);
  cursor: pointer;
}

#itemBrowser article .dot {
  background-color: #2c206a;
  opacity: .25;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  display: inline-block;
  z-index: 2;
  position: absolute;
  margin-top: 4em;
}

#itemBrowser article .dot:nth-of-type(2) {
  transform: scale(1.5);
}

#itemBrowser article img {
  width: 8em;
  height: 8em;
  margin-top: 4em;
  margin-bottom: 2em;
  object-fit: contain;
  z-index: 3;
}

#itemBrowser article h1 {
  font-size: 1.5em;
  color: #fefefe;
  margin: 0;
}

#itemBrowser article h2 {
  font-size: 1em;
  margin: 0;
}

#itemBrowser article h2[rarity="1"] {
  color: #9d9d9d;
}

#itemBrowser article h2[rarity="1"]::before {
  content: "Very Common";
}

#itemBrowser article h2[rarity="2"] {
  color: #ffffff;
}

#itemBrowser article h2[rarity="2"]::before {
  content: "Common";
}

#itemBrowser article h2[rarity="3"] {
  color: #1eff00;
}

#itemBrowser article h2[rarity="3"]::before {
  content: "Uncommon";
}

#itemBrowser article h2[rarity="4"] {
  color: #0070dd;
}

#itemBrowser article h2[rarity="4"]::before {
  content: "Rare";
}

#itemBrowser article h2[rarity="5"] {
  color: #a335ee;
}

#itemBrowser article h2[rarity="5"]::before {
  content: "Very Rare";
}

#itemBrowser article h2[rarity="6"] {
  color: #ff8000;
}

#itemBrowser article h2[rarity="6"]::before {
  content: "Special";
}

#itemBrowser article h2[rarity="7"] {
  color: #e6cc80;
}

#itemBrowser article h2[rarity="7"]::before {
  content: "Epic";
}

#itemBrowser article h2[rarity="8"] {
  color: #00ccff;
}

#itemBrowser article h2[rarity="8"]::before {
  content: "Legendary";
}

#itemBrowser article h3 {
  font-size: 1em;
  color: #ffd700;
  margin: 0;
  color: #ffd700;
  display: flex;
  align-items: center;
  gap: 4px;
}

#itemBrowser article button {
  height: 48px;
  margin-bottom: 2em;
}

.hidden {
  display: none !important;
}

.invis {
  opacity: 0 !important;
}

#goTop {
  position: fixed;
  right: 2em;
  bottom: 2em;
  width: 2em;
  height: 2em;
  font-weight: 900;
  font-size: 1.5em;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0;
  z-index: 999;
  border: 1px solid #fefefe;
}

#goTop:hover {
  background: #2c206a;
  border: 2px solid #fefefe;
}

#goTop p {
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
  position: absolute;
  left: 2em;
  right: calc(80vw - 2em);
}

.pagination p span {
  font-weight: 400;
}

.pagination p span:hover {
  cursor: pointer;
}

.pagination button {
  width: 6em;
  height: 3em;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0;
}

.pagination button p {
  font-size: 1.5em;
  margin: 0;
  font-weight: 800;
}

.pagination .current {
  font-weight: 900;
  color: lightgray;
  text-shadow: 0px 0px 15px lightgray;
}

.pagination button:disabled {
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: gray;
  box-shadow: none;
}

.myAccount {
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  margin-top: 6em;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #1d1449;
}

.myAccount h1 {
  margin: 0;
}

.myAccount h1 span {
  text-transform: capitalize;
}

.alert {
  position: fixed;
  left: 15vw;
  right: 15vw;
  height: 2vh;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background-color: #2c206a;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #392b80, #2c206a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 10px 0px #2c206a;
  color: #fefefe;
  padding: 6px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.alert p {
  margin: 0;
}

.alert:hover {
  font-style: italic;
  font-size: 1.1em;
}

.material-icons {
  font-size: inherit;
}
/*# sourceMappingURL=style.css.map */